

img{
    align-items: center;
    width: 500px;
    height: 500px;
    text-align: center;
}
#center {    
    text-align: center;  
    }  
#center-left {    
    display: inline-block;
    text-align: left;  
 } 
 #center-right {    
    display: inline-block;
    text-align: right;  
 } 
 #icon{
     align-items: center;
     width: 100px;
     height: 30px;
     text-align: center;
 }
 h1{
     font-family: Cursive;
 }


  
  

