
body{
	overflow-x: hidden;
	
	
	
}
img.profile{
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 350px;
	margin-top: 40px;
	margin-left: 40px;
	border: 5px solid #61100b;
}
img.content{
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 420px;
	border: 5px solid #61100b;
}
img.profile:hover{
	border: 10px solid #61100b;
}
img.content:hover{
	border: 10px solid #61100b;
}
header{
	background-image: url("images/headerBackground.jpeg");
	background-color: #cccccc;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	height: 300px;
	background-repeat:round;
	
}
/* img{
    align-items: center;
    width: 500px;
    height: 500px;
    text-align: center;
} */
.main-container{
	padding-top: 150px;
	padding-left: 100px;
	background-image: url("images/bodyBackground.png");
	background-repeat:round;
  	background-size: 2560px 2560px;
	padding-bottom: 100px;
	padding-right: 100px;

}
h1{
	color: #071e42;
	font-family: monospace;
	font-size: 50px;
}
h2{
	color: #071e07;
	font-family: monospace;
	font-size: 30px;
}
h3{
	color: #071e07;
	font-family: monospace;
	font-size: 20px;
}
h4{
	color: #15c015;
	font-family: monospace;
	font-size: 20px;
}
ol {
    transform: rotate(180deg);
}
ol > li {
    transform: rotate(-180deg);
	font-family: "Comic Sans MS";
	font-size: 20px;
	margin-bottom: 10px;
}

li{
	font-family: "Comic Sans MS";
	font-size: 20px;
	margin-bottom: 10px;
}
span{
	font-family: "Bradley Hand";
	margin-bottom: 10px;
	float: left;
	line-height: 85%;
	width: .7em;
	font-size: 150%;	  
}

a{
	font-style:normal;
	font-weight: 400;
	color: #1a0301;
}
a:hover{
	color: #a31f14;
	text-decoration:underline;
}
a:link { 
	text-decoration: none; 
}


a:visited { 
	text-decoration:#f36e6e; 
}

a:active { 
	text-decoration:underline; 
}

footer.footer{
	background-color: #f36e6e;
	background-image: url("images/footerBackground.png");
	height: 250px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	
}
p.info{
	text-align: center;
	font-size: 15px;
	color: #fff;
	margin-top: 100px;

}


.column {
  /* float: left; */
  width: 50%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}


  
  

